<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.siislab.tutorial.friendtracker"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FriendTrackerControl"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	    <provider android:authorities="friends" 
              android:name="FriendProvider"
              android:readPermission="org.siislab.tutorial.permission.READ_FRIENDS"
              android:writePermission="org.siislab.tutorial.permission.WRITE_FRIENDS">
        </provider>
        
        <service android:name="FriendTracker" android:process=":remote"
        	  android:permission="org.siislab.tutorial.permission.FRIEND_SERVICE">
	    </service>
        <receiver android:name="BootReceiver">
	        <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
	</application>
	
	<!--  Define Permissions -->
	<permission android:name="org.siislab.tutorial.permission.READ_FRIENDS"></permission>
	<permission android:name="org.siislab.tutorial.permission.WRITE_FRIENDS"></permission>
	<permission android:name="org.siislab.tutorial.permission.FRIEND_SERVICE"></permission>
	<permission android:name="org.siislab.tutorial.permission.FRIEND_SERVICE_ADD"></permission>
	<permission android:name="org.siislab.tutorial.permission.FRIEND_NEAR" 
		android:label="@string/permlab_friendNear"
		android:description="@string/permdesc_friendNear" 
		android:protectionLevel="dangerous"> 
	</permission>
	<permission android:name="org.siislab.tutorial.permission.BROADCAST_FRIEND_NEAR"></permission>
	
	<!--  Uses Permissions -->
	<uses-permission android:name="org.siislab.tutorial.permission.READ_FRIENDS"></uses-permission>
	<uses-permission android:name="org.siislab.tutorial.permission.WRITE_FRIENDS"></uses-permission>
	<uses-permission android:name="org.siislab.tutorial.permission.FRIEND_SERVICE"></uses-permission>
	<uses-permission android:name="org.siislab.tutorial.permission.FRIEND_NEAR"></uses-permission>
	<uses-permission android:name="org.siislab.tutorial.permission.BROADCAST_FRIEND_NEAR"></uses-permission>
	
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
</manifest>


